


html, body, #root {
  height: 100%;
}
body {
  background: #222;
  margin: 0;
  display: grid;
  padding: 3em;
  place-items: center;
}
.boxes {
  display: grid;
  grid-gap: 2em;
  grid-template-columns:1fr 1fr;
  grid-template-rows: auto;
}
.box {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  h1 {
    font-size: 20px;
    margin: 0 0 1rem 0;
  }
  .content {
    padding-top: 1em;
  }
  ol {
    margin-left: 0;
    li {
      font-family: 'Roboto Mono', monospace;
      align-items: center;
      display: flex;
      justify-content: flex-start;
      color:black;
    }
    li.listed{
      background:rgba(55,55,55,.5);
      margin:3px 4px 3px 4px;
      padding:2px;
    }
  }
}
.button {
  background: rgba(55,55,125,1);
  border: inset 1px solid transparent;
  color: white;
  margin-right: 1em;
  padding: 9px 9px;
  transition: all .25s ease-in-out;
  &:hover {
    background: white;
    transition: all .25s ease-in-out;
    border: 1px solid hotpink;
    color: #421;
  }
}
